html, body
{
	text-align: center;
	color: blue;
	height: 90%;
}

#logo
{
	height: 100px;
	font-size: 37px;
	color: fuchsia;
	text-align: left;
	display: inline-block;
	width: 80%;
}

#logoLink
{
	color: fuchsia;
}

.help
{
	text-align: right;
	height: 40px;
	width: 15%;
	display: inline-block;
}

.menu
{
	text-align: left;
	height: 40px;
	width: 95%;
	display: inline-block;
}

#variation
{
	display: inline-block;
	width: 500px;
	text-align: left;
	height: 82%;
}

.generalInfo
{
	background-color: fuchsia;
	color: white;
	width: 100%;
	margin-top: 3%;
	padding: 3px;
}

