
.category
{
	font-size: 30px;
	display: inline-block;
	width: 200px;
}

.categoryInput
{
	color: blue;
}

.categoryHolder
{
	display: inline-block;
	width: 300px;
}

.subject
{
	display: inline-block;
	width: 200px;
}

.subjectInput
{
	color: blue;
}

.subjectHolder
{
	display: inline-block;
	width: 300px;
}

.forNumbering
{
	display: inline-block;
	width: 200px;
	color: darkblue;
}

.againstNumbering
{
	display: inline-block;
	width: 200px;
	color: darkred;
}

.textHolder
{
	display: inline-block;
	width: 300px;
}

.commentText
{
	color: blue
}

.forInput
{
	color: darkblue;
}

.againstInput
{
	color: darkred;
}

.finalDecision
{
	display: inline-block;
	width: 200px;
}

.radioHolder
{
	display: inline-block;
	width: 300px;
}

.comment
{
	display: inline-block;
	width: 200px;
}

#updateButton
{
	display: none;
	border: 2px solid darkblue;
	color: darkblue;
	background-color: white;
}

#saveButton
{
	border: 2px solid darkblue;
	color: darkblue;
	background-color: white;
}

.buttonHolder
{
	display: inline-block;
	width: 420px;
	text-align: right;
	padding: 20px;
}

