
.decision
{
	display: inline-block;
}

#headline
{
	font-size: 30px;
}

#update
{
	display: inline-block;
	width: 270px;
	text-align: left;
}

#remove
{
	border: 1px solid darkred;
	background-color: white;
	color: darkred;
}

